body{
  font-family: Arial;
  padding: 0;
  color: white;
  height: 1000px;
  background: linear-gradient(to right, #1919e9, #282b58);
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.js-div{
  display: flex;
  z-index: 50;
}

.sidebar a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(218, 38, 38);
  text-decoration: underline;
}
.image1:hover{
  transform: scale(1.1);
}
.image-font:hover{
  opacity: 1;
  transform: scale(1);
}
.learn:hover{
  color: white;
  text-decoration: underline;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.514);
}


/*Min - width line*/


@media(min-width: 999px) {
.image1{
  position: relative;
  width: 320px;
  height: 380px;
  margin-bottom: 100px;
}
.side-menu{
  font-size: 50px;
  margin-top: -4px;
  color: rgb(197, 187, 187);

  display: none;
}
.sidebar p{
  margin-top: 8px;
  margin-right: 30px;
  font-size: 25px;
}
.grid-image{
  display: grid;
  grid-template-columns: 320px 320px 320px;
  margin-top: 100px;
  padding-left: 150px;
  column-gap: 50px;
  border: none;
}
.first-div{
display: grid;
grid-template-columns: 1fr 1fr;
padding-left: 120px;
column-gap: 30px;
}
.language{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  height: 280px;
  border-radius: 20px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 120px;
  background: linear-gradient(to right, #b91d1d ,#88621b);
}
.language:hover{
  box-shadow: 3px 3px 25px rgba(211, 45, 45, 0.973);
}
.codes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 280px;
  padding-top: 10px;
  border-radius: 18px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 120px;
  background: linear-gradient(to right, #b91d1d ,#88621b);
}
.codes:hover{
  box-shadow: 3px 3px 25px rgba(211, 45, 45, 0.973);
}
.language p{
  background:linear-gradient(to right,
    rgb(46, 46, 161),
    rgb(18, 133, 18));
    text-align: center;
  color: white;
  padding: 12px 60px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor:pointer;
}
.language:hover p{
  font-size: 22px;
}
.codes p{
  background:linear-gradient(to right,
    rgb(46, 46, 161),
    rgb(18, 133, 18));
    text-align: center;
  color: white;
  padding: 12px 60px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor:pointer;
}
.codes:hover p{
  font-size: 22px;
}
.lang-font{
  font-size: 25px;
  font-weight: bold;
  color: White;
  margin-left: -15px;
  margin-bottom: 20px;
  top: 0px;
}
.name-header{
  font-size: 33px;
  color: rgb(52, 62, 204);
  margin-left: 20px;
  font-weight: 700;
  flex: 1;
}
.sidebar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 10px;
  z-index: 100;
  top: 13px;
  }
.text{
  color: brown;
  padding: 10px 18px;
  -webkit-text-stroke: 0.7px white;
}
.image1 img{
  border-radius: 15px;
  width: 320px;
  height: 380px;
  transition: transform 0.15s;
}
  .head-font1, .head-font,
  .head-font2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 130px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .head-font{
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .tips, .tips1{
    font-size: 16px;
    width: 280px;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: -3px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
  }
  .learn{
    margin-top: -25px;
    margin-bottom: 6px;
  }
.image-font{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 320px;
  height: 380px;
  top: 0px;
  left: 0px;
  background:linear-gradient(to bottom, transparent, #4249ad);
  border-radius: 12px;
  opacity: 0;

  transition: opacity 0.15s, trasform 0.15s;
}
 .circle{
    position: absolute;
    z-index: 20;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    top: 30px;
    right: 138px;
    background-color: #5960ca;
  }
.about{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 255px;
  border-radius: 18px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 20px;
  background: linear-gradient(to right, #b91d1d ,#88621b);

  transition: box-shadow 0.15s;
}
.about-block:hover{
  box-shadow: 2px 3px 25px rgba(211, 45, 45, 0.973);
}
.top-font{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.top-font1{
  line-height: 21px;
  text-align: center;
  margin-top: 15px;
  width: 530px;
}
.top-font2{
  margin-top: -2px;
  line-height: 21px;
  text-align: center;
  width: 550px;
}
.top-div{
  background:linear-gradient(to right,
    rgba(46, 46, 161, 0.761),
    rgba(18, 133, 18, 0.834));
  border-radius: 15px;
}
.link-button1{
  padding: 14px 20px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 15px;
  background-color: #3b2bca;

  transition: color 0.15s, transform 0.15s;
}
.not-a-link{
  color: black;
}
.not-a-link:hover{
  text-decoration: none;
  color: #ffff;
}
.user-image img{
  width: 380px;
  height: 400px;
  margin-top: 75px;
  border-radius: 18px;
}
.visible{
  display: flex;
}
}


/*Max - width line*/


@media(max-width: 745px) {
  .image1{
    position: relative;
    width: 320px;
    height: 320px;
    margin-bottom: 100px;
  }
.image1 img{
  border-radius: 12px;
  width: 320px;
  height: 320px;
  transition: transform 0.15s;
}
 .circle{
  position: absolute;
  z-index: 20;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  top: 30px;
  right: 138px;
  background-color: #5960ca;
}
  .head-font1,.head-font{
    font-weight: bold;
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .head-font2{
    font-weight: bold;
    font-size: 20px;
    margin-top: 120px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .head-font{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .tips, .tips1{
    font-size: 14px;
    width: 280px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    cursor: pointer;
  }
  .learn{
    margin-top: -3px;
    margin-bottom: -10px;
  }
.image-font{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0px;
  left: 0px;
  background:linear-gradient(to bottom, transparent, #4249ad);
  border-radius: 12px;
  opacity: 0;

  transition: opacity 0.15s, trasform 0.15s;
}
.sidebar p{
  margin-top: 5px;
  font-size: 17px;
}
  .grid-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    align-items: center;
    column-gap: 10px;
    border: none;
  }
.language p{
  background:linear-gradient(to right,
    rgb(46, 46, 161),
    rgb(18, 133, 18));
    text-align: center;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor:pointer;
}
.codes p{
  background:linear-gradient(to right,
    rgb(46, 46, 161),
    rgb(18, 133, 18));
    text-align: center;
  color: white;
  padding: 6px 50px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor:pointer;
}
.first-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.language{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 225px;
  border-radius: 18px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 120px;
  background: linear-gradient(to right, #b91d1d ,#88621b);
}
.language:hover{
  box-shadow: 3px 3px 25px rgba(211, 45, 45, 0.973);
}
.codes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 225px;
  padding-top: 10px;
  border-radius: 18px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 120px;
  background: linear-gradient(to right, #b91d1d ,#88621b);
}
.codes:hover{
  box-shadow: 3px 3px 25px rgba(211, 45, 45, 0.973);
}
.codes:hover p{
  font-size: 20px;
}
.language:hover p{
  font-size: 20px;
}
.top-div{
  background:linear-gradient(to right,
    rgba(46, 46, 161, 0.761),
    rgba(18, 133, 18, 0.834));
  border-radius: 15px;
}
.lang-font{
  font-size: 25px;
  font-weight: bold;
  color: White;
  margin-left: -15px;
  margin-bottom: 20px;
  top: 0px;
}
.name-header{
  font-size: 26px;
  color: rgb(52, 62, 204);
  margin-left: 20px;
  font-weight: bold;
  flex: 1;
}
.side-menu{
  font-size: 40px;
  margin-top: -4px;
  color: rgb(197, 187, 187);
}


.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 255px;
  border-radius: 18px;
  border: 1px solid rgb(122, 114, 114);
  margin-top: 20px;
  background: linear-gradient(to right, #b91d1d ,#88621b);

  transition: box-shadow 0.15s;
}
.about-block:hover{
  box-shadow: 2px 3px 25px rgba(211, 45, 45, 0.973);
}
.top-font{
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.top-font1{
  line-height: 21px;
  text-align: center;
  margin-top: 15px;
  width: 530px;
}
.top-font2{
  margin-top: -2px;
  line-height: 21px;
  text-align: center;
  width: 550px;
}
.link-button1{
  padding: 12px 18px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: -30px;
  font-size: 15px;
  background-color: #3b2bca;

  transition: color 0.15s, transform 0.15s;
}
.not-a-link{
  color: black;
}
.not-a-link:hover{
  text-decoration: none;
  color: #ffff;
}
.user-image img{
  width: 280px;
  height: 300px;
  margin-top: 75px;
  border-radius: 12px;
}
.text{
  color: transparent;
  padding: 10px 18px;
  -webkit-text-stroke: 0.9px white;
  background:linear-gradient(to right,) ;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 150px;
  height: 200px;
  right: 0px;
  z-index: 100;
  top: 75px;
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.514);

  display: none;
}
.visible{
  display: flex;
}
}